.btn {
    background-color: var(--background-color);
    color: white;
    border: none;
    font-size: 10px;
    padding: 1em 2em;
    position: relative;
    cursor: pointer;
    --border-size: 2px;
    --background-color: #0373f3;
}

.btn.btn_pop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: var(--border-size) solid var(--background-color);
    transition: top, left, right, bottom, 400ms ease-in-out;
}

.btn.btn_pop:hover::before,
.btn.btn_pop:focus::before {
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
}