.parent_container {
    text-align: center;
}

.grid_container {
    display: grid;
    width: 80%;

    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
}

.card {
    display: block;
}

.card img {
    width: 200px;
    height: 200px;
}

.parent_container button {
    padding: 12px 25px;
    margin: 40px;
    background-color: #0373f3;
    color: white;
    border: none;
    font-size: 20px;
}