.grid_container {
    display: grid;
    width: 80%;

    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
}

.card {
    display: block;
}

.card img {
    width: 200px;
    height: 200px;
}
