
.hero_container {
    background-image: url("../../images/stretching.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;

    position: relative;
}

.text_container {
    color: white;
    position: absolute;
    width: 40%;
    top: 50%;
    left: 5%
}

.text_container div {
    font-size: 28px;
    text-shadow: 10px 10px 10px black;
}

.text_container p {
    width: 80%;
    font-size: 12px;
    text-shadow: 10px 10px 10px black;
}

@media only screen and (max-width: 640px) {
    .hero_container {
        height: 60vh;
    }

    .text_container {
        top: 40%;
    }

    .text_container div {
        font-size: 18px;
    }

    .text_container p {
        width: 80%;
        font-size: 8px;
    }
}

@media only screen and (max-width: 450px) {
    .hero_container {
        height: 50vh;
    }

    .text_container {
        top: 60%;
        width: 100%;
    }

    .text_container div {
        font-size: 16px;
    }

    .text_container p {
        width: 80%;
        font-size: 8px;
    }
}