
.hero_container {
    background-image: url("../../images/stretching.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;

    position: relative;
}

.text_container {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 40%;
    top: 50%;
    left: 5%
}

.text_container div {
    font-size: 34px;
}

.text_container p {
    width: 80%;
}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
    .hero_container {
         /* background-size: contain; */
         
    }

    .text_container {
        
    }
}

