
.aws_btn {
    --slider-height-percentage: 20%;
    --slider-transition-duration: 500ms;
    --organic-arrow-thickness: 10px;
    --organic-arrow-border-radius: 30px;
    --organic-arrow-height: 30px;
    --organic-arrow-color: #26456f;
    --control-button-width: 20%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: transparent;
    --control-bullet-active-color: transparent;
    --loader-bar-color: transparent;
    --loader-bar-height: 1px;
}

.carousel_container {
    margin: 5% 0;
}

.carousel_container img {
    width: 100%;
}
