.welcome_container {
    padding: 30px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.welcome_container p {
    margin-top: 20px;
    font-size: 12px;
    color: gray;
}

.join_us_container {
    font-size: 10px;
    font-size: .5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    margin: 5% auto;
}

.join_us_container h1 {
    vertical-align: middle;
    color: gray;
}

@media only screen and (max-width: 640px) {
    .welcome_container {
        padding: 15px;
        font-size: 16px;
        width: 80%;
    }

    .welcome_container p {
        font-size: 10px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 450px) {
    .join_us_container  {
        display: grid;
        grid-row: 1fr 1fr;
        width: 100%;
        text-align: center;
    }

    .join_us_container h1 {
        font-size: 14px;
        margin-bottom: 12px;
    }
}